package org.github.zuuuyao.web;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.github.xiaoymin.knife4j.annotations.ApiOperationSupport;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.responses.ApiResponse;
import io.swagger.v3.oas.annotations.tags.Tag;
import jakarta.annotation.Resource;
import lombok.AllArgsConstructor;
import org.github.zuuuyao.common.base.dto.input.BaseManyLongIdInputDTO;
import ${servicePackageName}.${iservice};
import ${addInputDTOPackageName}.${addInputDTO};
import ${editInputDTOPackageName}.${editInputDTO};
import ${queryPageInputDTOPackageName}.${queryPageInputDTO};
import ${entityVOPackageName}.${entityVO};
import org.springframework.http.MediaType;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PatchMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

/**
 * ${comments}
 * @Desc Created by Velocity Generate.
 * @Time ${datetime}
 * @Author ${author}
 */
@Tag(name = "${tagName}")
@RestController
@RequestMapping("${requestMapping}")
@AllArgsConstructor
public class ${className} {

    @Resource
    ${iservice} ${service};

    @Operation(summary = "分页查询", description = "分页查询用户接口")
    @GetMapping(value = "/pageQueryList", produces = MediaType.APPLICATION_JSON_VALUE)
    @ApiResponse(responseCode = "200", description = "OK")
    @ApiOperationSupport(authors = "zuuuYao")
    public Page<${entityVO}> pageQueryList(${queryPageInputDTO} inputDTO) {
        return ${service}.pageQueryList(inputDTO);
    }

    @Operation(summary = "添加用户", description = "添加用户接口")
    @ApiResponse(responseCode = "200", description = "OK")
    @PostMapping(value = "/addUser", produces = MediaType.APPLICATION_JSON_VALUE)
    public Boolean addUser(@RequestBody @Validated ${addInputDTO} inputDTO) {
        return ${service}.addUser(inputDTO);
    }

    @Operation(summary = "删除用户")
    @ApiResponse(responseCode = "200", description = "OK")
    @DeleteMapping(value = "/delUser", produces = MediaType.APPLICATION_JSON_VALUE)
    public Boolean delUser(@RequestBody @Validated BaseManyLongIdInputDTO inputDTO) {
        return ${service}.delUser(inputDTO);
    }

    @Operation(summary = "编辑用户", description = "编辑用户接口")
    @ApiResponse(responseCode = "200", description = "OK")
    @PatchMapping(value = "/editUser", produces = MediaType.APPLICATION_JSON_VALUE)
    public Boolean addUser(@RequestBody @Validated ${editInputDTO} inputDTO) {
        return ${service}.editUser(inputDTO);
    }
}
