package ${packageName};

import io.swagger.v3.oas.annotations.media.Schema;
import lombok.*;
import org.github.zuuuyao.common.base.dto.input.BaseQueryPageInputDTO;
import java.io.Serial;

/**
 * ${comments}
 * @Desc Created by Velocity Generate.
 * @Time ${datetime}
 * @Author ${author}
 */
@Getter
@Setter
@ToString
@Builder
@EqualsAndHashCode(callSuper = false)
@AllArgsConstructor
@NoArgsConstructor
public class ${className} extends BaseQueryPageInputDTO {

    @Serial
    private static final long serialVersionUID = -1;

    /**
     * 查询关键词
     */
    @Schema(description = "查询关键词")
    private String keywords;

}
