package org.github.zuuuyao.repository;

import org.github.zuuuyao.config.mybatis.extension.BaseMapperExtension;
import org.springframework.stereotype.Repository;
import ${entityFullName};

/**
 * ${comments}
 * @Desc Created by Velocity Generate.
 * @Time ${datetime}
 * @Author ${author}
 */
@Repository
public interface ${className} extends BaseMapperExtension<${entityName}> {

}
